* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#container {
    margin: 0 auto;
    width: 1200px;
}
header {
    width: 100%;
    height: 100px;
    background-color: blue;
}
#logo {
    float: left;
    width: 250px;
    height: 100px;
    background-color: indigo;
}
nav {
    float: right;
    width: 900px;
    height: 100px;
    background-color: green;
}
#slideShow {
    clear: both;
    width: 100%;
    height: 300px;
    background-color: orange;
    overflow: hidden;
}
#content {
    width: 100%;
    height: 300px;
    margin-top: 20px;
}
#tabMenu {
    float: left;
    width: 600px;
    height: 100%;
    background-color: violet;
}
#links {
    float: right;
    width: 600px;
    height: 100%;
    margin-top: 15px;
}
#links ul {
    list-style: none;
    padding: 0;
    overflow: hidden;
}
#links ul li {
    float: left;
    width: 33%;
    text-align: center;
    margin: 10px 0;
}
#links ul li a {
    text-decoration: none;
}
#links ul li a span {
    display: block;
    margin: 0 auto;
    width: 150px;
    height: 150px;
    border: 1px solid #ddd;
    border-radius: 100%;
    line-height: 150px;
}
#icon-1 {
    background-image: url(images/icon-1.jpg);
}
#icon-2 {
    background-image: url(images/icon-2.jpg);
}
#icon-3 {
    background-image: url(images/icon-3.jpg);
}
#links ul li a p {
    margin-top: 15px;
    font-weight: 600;
    color: #666;
}
footer {
    width: 100%;
    height: 100px;
    background-color: gray;
}